.card-header{
    background: rgb(97, 47, 11);
    text-align: center;
    color: rgb(247, 239, 239);
    padding: 40px;
}

.h-row{
    background: rgb(19, 158, 251);
}

table, tr, td {
    border: 1px solid black;
  }

.table{
    width: 95%;
    margin: 20px;
    border: solid 1px rgb(49, 171, 192);
    font-size: 12px;
}